{% assign dirs = include.dirs | default: "" %}
<ul class="navigation">
	{%- for path in include.paths -%}
		{%- if path contains include.level -%}
			{%- assign pat = path | remove_first: include.level -%}
			<li>
				{{ path | remove_first: include.level | split: "/" | first }} ({{ path }})
				{%- if pat contains "/" -%}
					({{ pat | split: "/" | first | append: "/" }})
					({{ pat | split: "/" | first | append: "/" | prepend: include.level }})
					{% assign new_dir = pat | split: "/" | first | append: "/" | prepend: include.level %}
					{% assign dirs = dirs | append: new_dir | append: "," -%}
					{% assign new_pat = pat | split: "/" | first | append: "/" %}
					{% assign new_level = include.level | append: new_pat %}
					{% include navigation.html paths=include.paths level=new_level dirs=dirs %}
				{%- endif -%}
			</li>	
		{%- endif -%}
	{%- endfor -%}
</ul>

{% comment %}
			{%- assign dir = pat | split: "/" | first -%}
			{%- assign dirs_array = dirs | split: "~" -%}
			{%- assign dirs_array_uniq = dirs | append: dir | split: "~" | uniq -%}
			{%- unless dirs_array == dirs_array_uniq -%}
				{% assign dirs = dirs | append: dir -%}
				<li>
					{{ path | remove_first: include.level | split: "/" | first }} ({{ path }})
					{%- assign dirs_sub = "" -%}
					{%- if pat contains "/" -%}
						({{ pat | remove: "~" | split: "/" | first | append: "/" }})
						{% assign new_pat = pat | remove: "~" | split: "/" | first | append: "/" %}
						{% assign new_level = include.level | append: new_pat %}
						{% include navigation.html paths=include.paths level=new_level dirs=dirs %}
					{%- endif -%}
				</li>
			{%- endunless -%}		




{% endcomment %}
