<ul class="navigation">
	{%- for path in include.paths -%}
		{%- if path contains include.level -%}
			{%- assign pat = path | remove_first: include.level | prepend: "~" -%}
			{%- assign dir = pat | split: "/" | first -%}
			{%- assign dirs_array = dirs | split: "~" -%}
			{%- assign dirs_array_uniq = dirs | append: dir | split: "~" | uniq -%}
			{%- unless dirs_array == dirs_array_uniq -%}
				{% assign dirs = dirs | append: dir -%}
				<li>
					{{ path | remove_first: include.level | split: "/" | first }}
					{%- assign dirs_sub = "" -%}
					{%- if pat contains "/" -%}
						{% include navigation.html paths=include.paths level=path %}
					{%- endif -%}
				</li>
			{%- endunless -%}		
		{%- endif -%}
	{%- endfor -%}
</ul>
