<ul class="navigation">
	{%- for path in include.paths -%}
		{%- if path contains include.level -%}
			{%- assign pat = path | remove_first: include.level | prepend: "~" -%}
			{%- assign dir = pat | split: "/" | first -%}
			{%- assign dirs_array = dirs | split: "~" -%}
			{%- assign dirs_array_uniq = dirs | append: dir | split: "~" | uniq -%}
			{%- unless dirs_array == dirs_array_uniq -%}
				{% assign dirs = dirs | append: dir -%}
				<li>
					{{ path | remove_first: include.level | split: "/" | first }}
					{%- assign dirs_sub = "" -%}
					{%- if pat contains "/" -%}
						<ul>
							{%- for path in paths -%}
								{%- if path contains "" -%}
									{%- assign pat = path | remove_first: "index.md" | prepend: "~" -%}
									{%- assign dir = pat | split: "/" | first -%}
									{%- assign dirs_array = dirs_sub | split: "~" -%}
									{%- assign dirs_array_uniq = dirs_sub | append: dir | split: "~" | uniq -%}
									{%- unless dirs_array == dirs_array_uniq -%}
										{% assign dirs_sub = dirs_sub | append: dir -%}
										<li>{{ path | remove_first: "index.md" | split: "/" | first }}</li>
									{%- endunless -%}		
								{%- endif -%}
							{%- endfor -%}
						</ul>
					{%- endif -%}
				</li>
			{%- endunless -%}		
		{%- endif -%}
	{%- endfor -%}
</ul>
