{% if depth == 1 %}
  <ul>
{% else %}
  <ul class="sub-menu">
{% endif %}

  {% for page in pages %}
    {% assign pageName = page.path | split: "/" | last %}
    {% assign pageDepth = page.path | split: "/" | size | minus: depth %}
    <li>
      <a href="{{ site.baseurl }}{{ page.url }}">{{ pageName }}</a>
      {% assign childPages = site.pages | where_exp: "childPage", "childPage.url != page.url" | where_exp: "childPage", "childPage.path contains page.path" | sort: "path" %}
      {% if childPages.size > 0 %}
        {% assign childDepth = pageDepth | plus: 1 %}
        {% include recursive_navigation.html pages=childPages depth=childDepth %}
      {% endif %}
    </li>
  {% endfor %}

</ul>
